<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">           
      </button>
      <a class="navbar-brand" href="#">Back</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1><%= @room.room_name %></h1>      
    <h4 style="color:grey;">host:<%= @room.host_id%></h4>
    <hr>
    <iframe width="1176" height="662" src=<%= @room.link_1 %> frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
