#container {
  display: flex;
}

#video_contorl {
  flex-grow: 4;
}

#message-wr{
  flex-grow: 1;
  flex-basis: auto;
  min-width: 100px;
}

#playback-info{
  text-align-last: right;
}

.messages{
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 87%;
  overflow: scroll;
  padding: 20px;
}
.messages-table{
  display: table;
  width: 100%;
}
.message-input{
  background-color: rgba(0,0,0,0.03);
  box-sizing: border-box;
  height: 13%;
}
.message-user{
  color: #666;
  font-size: 13px;
  margin-right: 10px;
}
.message-content{
  width: 100%;
}
.same-line{
  display: flex;
  flex-direction: row;
}
.same-line-left{
  flex: none;
  margin-right: 30px;
}
.same-line-right{
  flex-grow: 1;
}
